@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
	display: block;
	font-family: 'Pacifico', cursive;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 0;
}

hr {
	width: 100%;
	border: none;
}

h1,
h3 {
	margin: 0;
	font-weight: 400;
	text-align: center;
}

h1 {
	font-size: 4em;
	color: #EB5E28;
}

h3 {
	font-size: 2em;
}

form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

input:not([type="radio"]) {
	padding: 0;
	width: 160px;
	height: 20px;
	border: none;
	text-align: center;
}

input:focus {
	outline: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	appearance: none;
}

.butts input {
	width: 80px;
	height: 20px;
	margin: 0;
	border: none;
	background-color: #EB5E28;
	color: #FFFCF2;
}

.butts input:first-child {
	border-radius: 5px 0 0 5px;
}

.butts input:last-child {
	border-radius: 0 5px 5px 0;
}


input[type="radio"] {
	appearance: none;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

input[type="radio"]:checked {
	border: #EB5E28 2px solid;
}

.correct,
.wrong {
	font-size: 1.5em;
}

.correct {
	color: darkgreen;
}

.wrong {
	color: darkred;
}

.pnts {
	font-size: 1.5em;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #fffcf2;
		color: #252422;
	}

	hr {
		border-top: #252422 2px solid
	}

	h3 {
		color: #403D39;
	}

	input:not([type="radio"]) {
		background-color: #CCC5B9;
		border-bottom: #252422 2px solid;
	}

	input[type="radio"] {
		border: #252422 2px solid;
	}

	input[type="radio"]:checked {
		background-color: #252422;
	}

	.pnts {
		color: #403D39;
	}

}

@media (prefers-color-scheme: dark) {
	hr {
		border-top: #252422 2px solid
	}

	body {
		background-color: #252422;
		color: #fffcf2;
	}

	h3 {
		color: #ccc5b9;
	}

	input:not([type="radio"]) {
		background-color: #252422;
		border-bottom: #CCC5B9 2px solid;
	}

	input[type="radio"] {
		border: #CCC5B9 2px solid;
	}

	input[type="radio"]:checked {
		background-color: #CCC5B9;
	}

	.pnts {
		color: #ccc5b9;
	}
}